.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Styles for app container */
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Fade-in effect */
.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

/* Fade-out effect */
.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

/* Keyframes for fade-in */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Keyframes for fade-out */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



