/* Full screen background for the scene */
.scene2-container {
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    display: flex; /* Flexbox for centering */
    bottom: 0;
    top: 0;
    position: fixed;
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align items to the bottom */
    background-image: url('./assets/Starting\ Menu.png'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    position: relative;
    overflow: hidden; /* Hide any overflow */
}

/* Text styles */
.scene2-text {
    color: white; /* Text color */
    text-align: center;
    font-family: 'Press Start 2P', cursive; /* Use pixelated font */
    font-size: 60px; /* Adjust font size as needed */
    margin-bottom: 85vh; /* Space below the heading */
}

.scene2-description {
    color: white; /* Text color */
    font-size: 20px; /* Font size */
    text-align: center; /* Center the text */
    max-width: 600px; /* Limit width for readability */
}